In [31]:
import pandas as pd

In [32]:
surveys_df = pandas.read_csv('surveys.csv')

In [33]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [34]:
surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [41]:
surveys_df.tail()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [42]:
surveys_df.shape

(35549, 9)

In [43]:
surveys_df['day']

0        16
1        16
2        16
3        16
4        16
5        16
6        16
7        16
8        16
9        16
10       16
11       16
12       16
13       16
14       16
15       16
16       16
17       16
18       16
19       17
20       17
21       17
22       17
23       17
24       17
25       17
26       17
27       17
28       17
29       17
         ..
35519    31
35520    31
35521    31
35522    31
35523    31
35524    31
35525    31
35526    31
35527    31
35528    31
35529    31
35530    31
35531    31
35532    31
35533    31
35534    31
35535    31
35536    31
35537    31
35538    31
35539    31
35540    31
35541    31
35542    31
35543    31
35544    31
35545    31
35546    31
35547    31
35548    31
Name: day, dtype: int64

In [44]:
pd.unique( surveys_df['sex'])

array(['M', 'F', nan], dtype=object)

In [45]:
pd.unique( surveys_df['plot_id'])

array([ 2,  3,  7,  1,  6,  5,  8,  4, 11, 14, 15, 13,  9, 10, 17, 16, 20,
       23, 18, 21, 22, 19, 12, 24])

In [50]:
surveys_df['weight'].count()

32283

In [52]:
%

ERROR: Line magic function `%` not found.

In [53]:
import matplotlib

SyntaxError: invalid character in identifier (<ipython-input-54-fd0a0b430052>, line 1)

In [55]:
species_df = pandas.read_csv('species.csv')

In [62]:
species_df.count()

species_id    54
genus         54
species       54
taxa          54
dtype: int64

In [65]:
surveys_df.groupby('species_id').count()

,record_id,month,day,year,plot_id,sex,hindfoot_length,weight
species_id,,,,,,,,
AB,303,303,303,303,303,0,0,0
AH,437,437,437,437,437,1,2,0
AS,2,2,2,2,2,0,0,0
BA,46,46,46,46,46,45,45,45
CB,50,50,50,50,50,0,0,0
CM,13,13,13,13,13,0,0,0
CQ,16,16,16,16,16,0,0,0
CS,1,1,1,1,1,0,0,0
CT,1,1,1,1,1,0,0,0
CU,1,1,1,1,1,0,0,0
CV,1,1,1,1,1,0,0,0
DM,10596,10596,10596,10596,10596,10523,9972,10262
DO,3027,3027,3027,3027,3027,3015,2887,2904
DS,2504,2504,2504,2504,2504,2458,2132,2344
DX,40,40,40,40,40,0,0,0
NL,1252,1252,1252,1252,1252,1177,1074,1152
OL,1006,1006,1006,1006,1006,987,920,970
OT,2249,2249,2249,2249,2249,2213,2139,2160
OX,12,12,12,12,12,9,8,6
PB,2891,2891,2891,2891,2891,2862,2864,2810
PC,39,39,39,39,39,0,0,0
PE,1299,1299,1299,1299,1299,1277,1212,1260
PF,1597,1597,1597,1597,1597,1573,1493,1548
PG,8,8,8,8,8,0,0,0
PH,32,32,32,32,32,32,31,31
PI,9,9,9,9,9,8,9,8
PL,36,36,36,36,36,35,36,36
PM,899,899,899,899,899,883,847,876
PP,3123,3123,3123,3123,3123,3076,3027,3024
PU,5,5,5,5,5,0,0,0
PX,6,6,6,6,6,2,2,2
RF,75,75,75,75,75,75,73,75
RM,2609,2609,2609,2609,2609,2548,2442,2535
RO,8,8,8,8,8,8,8,8
RX,2,2,2,2,2,2,2,2
SA,75,75,75,75,75,0,0,0
SC,1,1,1,1,1,0,0,0
SF,43,43,43,43,43,40,41,41
SH,147,147,147,147,147,143,131,141
SO,43,43,43,43,43,43,41,41
SS,248,248,248,248,248,3,0,2
ST,1,1,1,1,1,0,0,0
SU,5,5,5,5,5,0,0,0
UL,4,4,4,4,4,0,0,0
UP,8,8,8,8,8,0,0,0
UR,10,10,10,10,10,0,0,0
US,4,4,4,4,4,0,0,0
ZL,2,2,2,2,2,0,0,0

In [69]:
species_df.plot(kind='bar')

TypeError: Empty 'DataFrame': no numeric data to plot

In [70]:
surveys_df = pd.read_csv ("surveys.csv")

In [71]:
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [72]:
species_df = pd.read_csv ("species.csv")

In [73]:
species_df

   species_id             genus          species     taxa
0          AB        Amphispiza        bilineata     Bird
1          AH  Ammospermophilus          harrisi   Rodent
2          AS        Ammodramus       savannarum     Bird
3          BA           Baiomys          taylori   Rodent
4          CB   Campylorhynchus  brunneicapillus     Bird
5          CM       Calamospiza      melanocorys     Bird
6          CQ        Callipepla         squamata     Bird
7          CS          Crotalus       scutalatus  Reptile
8          CT     Cnemidophorus           tigris  Reptile
9          CU     Cnemidophorus        uniparens  Reptile
10         CV          Crotalus          viridis  Reptile
11         DM         Dipodomys         merriami   Rodent
12         DO         Dipodomys            ordii   Rodent
13         DS         Dipodomys      spectabilis   Rodent
14         DX         Dipodomys              sp.   Rodent
15         EO           Eumeces        obsoletus  Reptile
16         GS          Gambelia            silus  Reptile
17         NL           Neotoma         albigula   Rodent
18         NX           Neotoma              sp.   Rodent
19         OL         Onychomys      leucogaster   Rodent
20         OT         Onychomys         torridus   Rodent
21         OX         Onychomys              sp.   Rodent
22         PB       Chaetodipus          baileyi   Rodent
23         PC            Pipilo        chlorurus     Bird
24         PE        Peromyscus         eremicus   Rodent
25         PF       Perognathus           flavus   Rodent
26         PG         Pooecetes        gramineus     Bird
27         PH       Perognathus         hispidus   Rodent
28         PI       Chaetodipus      intermedius   Rodent
29         PL        Peromyscus         leucopus   Rodent
30         PM        Peromyscus      maniculatus   Rodent
31         PP       Chaetodipus     penicillatus   Rodent
32         PU            Pipilo           fuscus     Bird
33         PX       Chaetodipus              sp.   Rodent
34         RF   Reithrodontomys       fulvescens   Rodent
35         RM   Reithrodontomys        megalotis   Rodent
36         RO   Reithrodontomys         montanus   Rodent
37         RX   Reithrodontomys              sp.   Rodent
38         SA        Sylvilagus        audubonii   Rabbit
39         SB          Spizella          breweri     Bird
40         SC        Sceloporus           clarki  Reptile
41         SF          Sigmodon      fulviventer   Rodent
42         SH          Sigmodon         hispidus   Rodent
43         SO          Sigmodon     ochrognathus   Rodent
44         SS      Spermophilus        spilosoma   Rodent
45         ST      Spermophilus     tereticaudus   Rodent
46         SU        Sceloporus        undulatus  Reptile
47         SX          Sigmodon              sp.   Rodent
48         UL            Lizard              sp.  Reptile
49         UP            Pipilo              sp.     Bird
50         UR            Rodent              sp.   Rodent
51         US           Sparrow              sp.     Bird
52         ZL       Zonotrichia       leucophrys     Bird
53         ZM           Zenaida         macroura     Bird

In [120]:
surveysub = surveys_df.head(10)

In [121]:
surveysubLast10 = surveys_df.tail(20)

In [122]:
surveysubLast10

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [130]:
year80 = surveys_df[surveys_df['year'] == 1980]
year82 = surveys_df[surveys_df['year'] == 1980]

In [131]:
year82 = year82.reset_index()
year82

,index,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,2270,2271,1,15,1980,8,DO,M,35.0,53.0
1,2271,2272,1,15,1980,11,PF,F,16.0,10.0
2,2272,2273,1,15,1980,18,DM,F,34.0,33.0
3,2273,2274,1,15,1980,11,DM,M,38.0,37.0
4,2274,2275,1,15,1980,8,DO,F,33.0,29.0
5,2275,2276,1,15,1980,11,DS,M,47.0,132.0
6,2276,2277,1,15,1980,8,PF,M,15.0,8.0
7,2277,2278,1,15,1980,9,OT,M,21.0,23.0
8,2278,2279,1,15,1980,11,DM,F,36.0,36.0
9,2279,2280,1,15,1980,21,OT,F,20.0,21.0
10,2280,2281,1,15,1980,11,OL,M,20.0,29.0
11,2281,2282,1,15,1980,17,DM,F,36.0,49.0
12,2282,2283,1,15,1980,11,OL,M,21.0,23.0
13,2283,2284,1,15,1980,9,OL,M,20.0,32.0
14,2284,2285,1,15,1980,10,OL,F,20.0,24.0
15,2285,2286,1,15,1980,11,DM,M,38.0,47.0
16,2286,2287,1,15,1980,21,OT,M,19.0,22.0
17,2287,2288,1,15,1980,19,RM,F,17.0,12.0
18,2288,2289,1,15,1980,20,DS,F,52.0,150.0
19,2289,2290,1,15,1980,11,DM,M,37.0,49.0
20,2290,2291,1,15,1980,9,OL,F,21.0,34.0
21,2291,2292,1,15,1980,12,DM,F,35.0,40.0
22,2292,2293,1,15,1980,18,DS,F,51.0,132.0
23,2293,2294,1,15,1980,22,DM,F,34.0,25.0
24,2294,2295,1,15,1980,9,OL,M,21.0,36.0
25,2295,2296,1,15,1980,8,DO,F,34.0,50.0
26,2296,2297,1,15,1980,11,DM,M,37.0,45.0
27,2297,2298,1,15,1980,17,DM,M,35.0,47.0
28,2298,2299,1,15,1980,9,DM,M,38.0,46.0
29,2299,2300,1,15,1980,18,DM,F,32.0,29.0
...,...,...,...,...,...,...,...,...,...,...
1385,3655,3656,12,16,1980,17,DM,M,38.0,48.0
1386,3656,3657,12,16,1980,18,DM,M,36.0,51.0
1387,3657,3658,12,16,1980,20,DM,M,37.0,40.0
1388,3658,3659,12,16,1980,17,DM,F,37.0,43.0
1389,3659,3660,12,16,1980,18,DS,M,46.0,120.0
1390,3660,3661,12,16,1980,19,PF,M,15.0,8.0
1391,3661,3662,12,16,1980,17,DS,F,51.0,127.0
1392,3662,3663,12,16,1980,8,DS,F,49.0,120.0
1393,3663,3664,12,16,1980,12,DM,M,37.0,60.0
1394,3664,3665,12,16,1980,13,DS,F,47.0,150.0
1395,3665,3666,12,16,1980,20,DS,F,49.0,147.0
1396,3666,3667,12,16,1980,11,OT,M,20.0,23.0
1397,3667,3668,12,16,1980,8,DS,M,51.0,140.0
1398,3668,3669,12,16,1980,18,NL,F,35.0,189.0
1399,3669,3670,12,16,1980,8,DS,M,50.0,NaN
1400,3670,3671,12,16,1980,17,DS,F,45.0,129.0
1401,3671,3672,12,16,1980,22,DS,F,49.0,130.0
1402,3672,3673,12,16,1980,17,DO,F,35.0,59.0
1403,3673,3674,12,16,1980,11,OT,F,20.0,30.0
1404,3674,3675,12,16,1980,18,DM,F,31.0,31.0
1405,3675,3676,12,16,1980,8,PF,F,15.0,7.0
1406,3676,3677,12,16,1980,17,DM,M,37.0,52.0
1407,3677,3678,12,16,1980,17,OL,F,21.0,33.0
1408,3678,3679,12,16,1980,11,NL,M,31.0,116.0
1409,3679,3680,12,16,1980,17,DM,F,35.0,46.0
1410,3680,3681,12,16,1980,11,DM,F,35.0,59.0
1411,3681,3682,12,16,1980,17,PE,F,20.0,19.0
1412,3682,3683,12,16,1980,12,DM,M,36.0,44.0
1413,3683,3684,12,16,1980,13,DM,M,40.0,52.0
1414,3684,3685,12,16,1980,21,NaN,NaN,NaN,NaN

In [136]:
surveysSub = surveys_df()

TypeError: 'DataFrame' object is not callable